default_layout "default"
default_shell "/usr/bin/fish"

env {
    COLORTERM "truecolor"
}

mouse_mode true
pane_frames false
scrollback_editor "/usr/bin/nvim"
theme "catppuccin-mocha"
show_startup_tips false

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }

    shared_among "normal" "locked" {
        // Tab and pane managament
        bind "Alt n" { NewPane "Right"; }
        bind "Alt Shift n" { NewPane "Down"; }
        bind "Alt t" { NewTab; }
        bind "Alt x" { CloseFocus; }
        bind "Alt w" { CloseTab; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt r" { SwitchToMode "renametab"; TabNameInput 0; }

        bind "Alt Shift f" {
            Run "/usr/bin/fish" {
                floating true
            }
        }

        // Ir a x tab
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        // Move focus between panes
        bind "Alt h" { MoveFocusOrTab "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocusOrTab "right"; }

        // Move panes
        bind "Alt Shift h" { MovePane "left"; }
        bind "Alt Shift j" { MovePane "down"; }
        bind "Alt Shift k" { MovePane "up"; }
        bind "Alt Shift l" { MovePane "right"; }

        // Resize panes with Alt + and Alt -
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
    }

    pane {
        bind "n" { NewPane; SwitchToMode "locked"; }
        bind "x" { CloseFocus; SwitchToMode "locked"; }

        bind "r" { SwitchToMode "renamepane"; PaneNameInput 0; }

        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "i" { TogglePanePinned; SwitchToMode "locked"; }

        bind "q" { SwitchToMode "normal"; }
        bind "tab" { SwitchFocus; }

        bind "h" { MoveFocus "left"; }
        bind "H" { MovePane "left"; }

        bind "j" { MoveFocus "down"; }
        bind "J" { MovePane "down"; }

        bind "k" { MoveFocus "up"; }
        bind "K" { MovePane "up"; }

        bind "l" { MoveFocus "right"; }
        bind "L" { MovePane "right"; }
    }

    tab {
        bind "Shift h" { MoveTab "left"; }
        bind "Shift l" { MoveTab "right"; }

        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }

        bind "[" { BreakPaneLeft; SwitchToMode "locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "locked"; }
        bind "b" { BreakPane; SwitchToMode "locked"; }

        bind "n" { NewTab; SwitchToMode "locked"; }
        bind "x" { CloseTab; SwitchToMode "locked"; }

        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }

        bind "q" { SwitchToMode "normal"; }
        bind "tab" { ToggleTab; }
    }

    resize {
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }

        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }

        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }

        bind "q" { SwitchToMode "normal"; }
    }

    session {
        bind "d" { Detach; }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
    }

    scroll {
        bind "e" { EditScrollback; SwitchToMode "locked"; }
        bind "f" { SwitchToMode "entersearch"; SearchInput 0; }

        bind "Alt h" { MoveFocusOrTab "left"; SwitchToMode "locked"; }
        bind "Alt j" { MoveFocus "down"; SwitchToMode "locked"; }
        bind "Alt k" { MoveFocus "up"; SwitchToMode "locked"; }
        bind "Alt l" { MoveFocusOrTab "right"; SwitchToMode "locked"; }

        bind "Ctrl u" { HalfPageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }

        bind "q" { SwitchToMode "normal"; }
    }

    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }



    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }

    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }

    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
        bind "Ctrl c" { SwitchToMode "locked"; }
    }

    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
        bind "Ctrl c" { SwitchToMode "locked"; }
    }

    shared_except "locked" "renametab" "renamepane" {
        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "Ctrl q" { Quit; }
    }

    shared_except "locked" "entersearch" {
        bind "enter" { SwitchToMode "locked"; }
    }

    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "locked"; }
    }

    shared_except "locked" "entersearch" "search" "renametab" "renamepane" "session" {
        bind "o" { SwitchToMode "session"; }
    }

    shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
        bind "t" { SwitchToMode "tab"; }
    }

    shared_except "locked" "tab" "scroll" "entersearch" "renametab" "renamepane" {
        bind "s" { SwitchToMode "scroll"; }
    }

    shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
        bind "p" { SwitchToMode "pane"; }
    }

    shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" {
        bind "r" { SwitchToMode "resize"; }
    }
}

default_mode "locked"
copy_command "wl-copy"
